/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
dl, dt, dd, ul, ol, li, pre,
fieldset, button, input, textarea,
th, td {
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea {
    font: 14px Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /
}

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}


/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}

.clearfix:after{
    content:'';
    display:block;
    height:0;
    clear:both;
}

input,select{
    border: 1px solid #e0e0e0;
    font-size: 12px;
    padding: 0 8px;
    height: 30px;
}

.mb{
    margin-bottom: 10px;
}
.tmb{
    border: 1px solid #e0e0e0;padding: 10px;
}

div.heightAuto input[type=checkbox],input[type=radio]{
    height: auto;
    margin-bottom: 5px;
}
div.heightAuto a{
    margin-right: 5px;
}
textarea{
    border: 1px solid #e0e0e0;
    resize: none;
}

/* index css*/
.header{
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
    box-sizing: border-box;
}

.header h2{
    color: #8c8c8c;
    float: left;
}

.headUserInfo{
    float: right;
    color: #4c4c4c;
    cursor: pointer;
}

.headUserInfo span:hover{
    color:#0085D7;
}

.navbar{
    height: 40px;
    background-color: #0085D7;
    padding: 0 40px;
    box-sizing: border-box;
}

.navbar ul li{
    display: inline-block;
    color: #ffffff;
    width: 120px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
}

.navbar ul li:hover{
    background-color: #369fe0;
}

.content{
    margin: 20px 40px;
}

.leftMenu{
    float: left;
    width: 198px;
    border:1px solid #E0E0E0;
    min-height: 100px;
}

.menuTop{
    height: 40px;
    color: #4c4c4c;
    background-color: #FAFAFA;
    line-height: 40px;
    border-bottom: 1px solid #e0e0e0;
    padding-left: 15px;
}

.menuItem{
    margin: 10px 15px;
    border-bottom: 1px solid #e0e0e0;
}

.menuItem .title{
    font-weight: bold;
    padding: 10px 0;
}

.menuIcon{
    height: 18px;
    width: 18px;
    vertical-align:middle;
}

.menuItem ol{
    margin-bottom: 5px;
}

.menuItem ol li{
    float: left;
    width: 83px;
    padding-bottom: 10px;
    font-size: 12px;
    color: #4c4c4c;
    overflow: hidden;
    cursor: pointer;
}

.menuItem ol li:hover{
    text-decoration: underline;
}

.lastItem{
    border-bottom: none;
}

.rightContent{
    margin-left: 220px;
    min-height: 300px;
    color: #4c4c4c;
    font-size: 14px;
}

.navigation{
    height: 40px;
    border: 1px solid #e0e0e0;
    background-color: #fafafa;
    line-height: 40px;
    padding-left: 15px;
    color: #4c4c4c;
    font-size: 12px;
}

.mt10{
    margin-top: 10px;
}

.timuleft{
    margin-top: 30px;margin-right: 140px;
}

.red{
    background-color: #ffa600 !important;
    border:1px solid #ffa600 !important;
    color: #ffffff !important;
}

.black{
    background-color: #FAFAFA !important;
    border:1px solid #e0e0e0 !important;
    color: #4c4c4c;
}

.wjtool{
    position: fixed;
    top:310px;
    right: 40px;
}

.wjtool li{
    width: 120px;
    height: 20px;
    background-color: #FAFAFA;
    border:1px solid #e0e0e0;
    margin-bottom: 3px;
    text-align: center;
    cursor: pointer;
    color: #4c4c4c;
}

.tableBox{
    width: 100%;
    margin-top: 20px;
    text-align: center;
    border: 1px solid #e0e0e0;
}



.tableBox thead{
    background-color: #fafafa;
    line-height: 35px;
}

.tableBox tr{
    line-height: 35px;
}

.tableBox tr td button{
    width: 60px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background-color: #ffa600;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.tableBox tr td button:hover{
    background-color: #ffb62d;
}

.btnGreen{
    width: 100px;
    height: 30px;
    line-height: 30px;
    font-size: 12px;
    background-color: #6abf4a;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}

.btnGreen:hover{
    background-color: #81d362;
}

.nextBtn{
    background-color: #0085D7;
    width: 60px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.nextBtn:hover{
    background-color: #369fe0;
}

.left{
    float: left;
}

.right{
    float: right;
}

.searchRow{
    margin-top: 10px;
    height: 30px;
}

.remarkRow{
    margin-top: 10px;
    height: 115px;
}

.width100{
    width: 150px;
}

.width287{
    width: 287px;
}
.width140{
    width: 140px;
}

.mr15{
    margin-right: 15px;
}

.pagingContainer{
    float: right;
    margin-top: 15px;
}

.grayLine{
    width: 100%;
    height: 1px;
    background-color: #E0E0E0;
    margin-top: 20px;
}

.width220{
    width: 220px;
}

.width200{
    width: 200px;
}

.tr{
    text-align: right;
}

.ml65{
    margin-left: 65px;
}

.ml24{
    margin-left: 24px;
}

.width152{
    width: 152px;
}

.remarkTextarea{
    height: 100px;
    width: 795px;
    padding: 5px 10px;
    margin-left: 5px;
}

.teacherList{
    border: 1px solid #e0e0e0;
    margin-top: 10px;
}

.teacherList li{
    line-height: 25px;
    width: 140px;
    padding: 0 10px;
    cursor: pointer;
}

.teacherList li:hover{
    background-color: #0085D7;
    color: #ffffff;
}

.btnRed{
    width: 80px;
    height: 24px;
    line-height: 24px;
    font-size: 12px;
    background-color: #ffa600;
    border: none;
    color: #ffffff;
    cursor: pointer;
    border-radius: 3px;
    -webkit-border-radius: 3px;
    text-align: center;
}

.btnRed:hover{
    background-color: #ffb62d;
}

.cT_input{
    border:none;
    border-bottom: 1px solid #e0e0e0;
    outline: medium;
    font-size: 14px;
    color: #4c4c4c;
}

.cT_textarea{
    width: 100%;
    box-sizing: border-box;padding: 20px;
    min-height: 140px;
    border: none;
    outline: medium;
    color: #4c4c4c;
}

.cT_del{
    text-align: right;
}

.cT_del span a{
    margin: 10px;
    background-color: #6abf4a;
    color: #ffffff;
    padding: 2px 5px;
    border-radius: 3px;
}

.cT_item_title{
    text-align: center;margin-top: 20px;
}

.cT_chapter_oper{
    text-align: right;padding: 10px 0;
}

.cT_chapter_oper span a{
    text-decoration:none;
    cursor: pointer;
    background-color: #ffb62d;
    color: #ffffff;
    padding: 2px;
    border-radius: 3px;
}

.cT_topic_oper{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-left: 5px;
}

.loginBg{
    background-color: #f3f3f3;
    position: fixed;
    width: 100%;
    height: 100%;
}

.loginBox{
    background-color: #ffffff;
    width: 400px;
    height: 260px;
    border-radius: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
}

.loginUser{
    border-bottom: 1px solid #dddddd;
    width: 300px;
    margin: 40px auto 0 auto;
    padding-bottom: 5px;
}

.loginPassword{
    height: 30px;
    border-bottom: 1px solid #dddddd;
    width: 300px;
    margin: 10px auto 10px auto;
    padding-bottom: 2px;
}

.loginPassword img{
    vertical-align: middle;
}

.loginUser img{
    vertical-align: middle;
    margin: 0 2px;
}

.loginInput{
    border: none;
    outline: medium;
    width: 248px;
    font-size: 14px;
}

.loginBtn{
    background-color: #66bd78;
    height: 36px;
    width: 300px;
    color: #ffffff;
    font-size: 14px;
    text-align: center;
    margin: 35px auto 20px auto;
    line-height: 36px;
    border-radius: 3px;
}

.loginError{
    color: #fe0000;
    text-align: center;
    font-size: 14px;
}

.loginLogo{
    text-align: center;
    margin-top: 120px;
    font-size: 36px;
    font-weight: bold;
    color: #0085D7;
}

.classDown{
    border: 1px dashed #aaaaaa;
    padding: 10px 5px;
    margin-top: 15px;
}

.downModuleInput{
    border: none;
    border-bottom: 1px solid #cccccc;
    width: 200px;
}

#doSubmit{
    width: 100px;
    height: 30px;
    line-height: 30px;
    background-color: #6abf4a;
    color: #fff;
    margin: 20px auto;
    display: block;
    border: none;
}

.outTop{
    margin: 20px;
    border-bottom: 2px solid #e9e9e9;
    padding-bottom: 15px;
}

.outTopTitle{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.outTopTip{
    text-align: center;
    font-size: 12px;
    color: #4c4c4c;
    margin-top: 6px;
}

.outZjBox{
    margin:0 20px 20px 20px;
    border-bottom:2px solid #e9e9e9;
    padding-bottom:20px;
}

.outZjTitle{
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    margin: 10px auto;
}

.outZjSubject{
    margin: 20px 0;
    font-weight: bold;
}

.ml5{
    margin-left: 5px;
}

.mr5{
    margin-right: 5px;
}

.classRoomBigContainer{
    width: 136px;height: 41px;font-size: 34px;border: 1px solid black;border-bottom: none;margin-top: 10px;
}