<div class="navigation">我的应用 > 模版管理</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>模版分类：</label>
        <select class="width287">
            <option>问卷调查</option>
            <option>知识评测</option>
        </select>
    </div>
    <div class="left">
        <label>模版名称：</label>
        <input type="text" placeholder="请输入模版名称" class="width287"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>模版类型：</label>
        <select class="width287">
            <option>消防安全</option>
            <option>交通安全</option>
            <option>户外安全</option>
        </select>
    </div>
    <div class="left">
        <label>创建时间：</label>
        <input type="date" placeholder="请输入模版名称" class="width150"/>
        <span> 到 </span>
        <input type="date" placeholder="请输入模版名称" class="width150"/>
    </div>
</div>


<div class="mt10">
    <button class="btnGreen ml65">查询</button>
    <button class="btnGreen">创建模版</button>
</div>

<div class="grayLine"></div>

<div class="mt10 tr">
    <button class="nextBtn">上一页</button>
    <button class="nextBtn">下一页</button>
</div>

<table class="tableBox" border="1">
    <thead>
        <tr>
            <th>模板分类</th>
            <th>模板类型</th>
            <th>模板名称</th>
            <th>备注</th>
            <th>更新时间</th>
            <th>功能操作</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>调查问卷</td>
            <td>交通安全</td>
            <td>交通知识调研</td>
            <td>调查学生的交通知识</td>
            <td>2016-3-24 22:34</td>
            <td>
                <button>修改</button>
                <button>删除</button>
            </td>
        </tr>

        <tr>
            <td>调查问卷</td>
            <td>交通安全</td>
            <td>交通知识调研</td>
            <td>调查学生的交通知识</td>
            <td>2016-3-24 22:34</td>
            <td>
                <button>修改</button>
                <button>删除</button>
            </td>
        </tr>

        <tr>
            <td>调查问卷</td>
            <td>交通安全</td>
            <td>交通知识调研</td>
            <td>调查学生的交通知识</td>
            <td>2016-3-24 22:34</td>
            <td>
                <button>修改</button>
                <button>删除</button>
            </td>
        </tr>

        <tr>
            <td>调查问卷</td>
            <td>交通安全</td>
            <td>交通知识调研</td>
            <td>调查学生的交通知识</td>
            <td>2016-3-24 22:34</td>
            <td>
                <button>修改</button>
                <button>删除</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging url={{url}} callback-fn="directiveCallBack"></paging>
</div>
