
<div class="navigation">我的应用 > 数据分析 > 参考学生</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>课程系列：</label>
        <select class="width220" ng-model="kcxlNum" ng-options="m.val as m.name for m in kcxl"></select>
    </div>

    <div class="left mr15">
        <label>课程主题：</label>
        <select class="width220" ng-model="kcztNum" ng-options="m.val as m.name for m in kczt"></select>
    </div>

    <div class="left mr15">
        <label>学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;年：</label>
        <select class="width220" ng-model="xnNum" ng-options="m.val as m.name for m in xn"></select>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级：</label>
        <select class="width220" ng-model="njNum" ng-options="m.val as m.name for m in nj"></select>
    </div>

    <div class="left mr15">
        <label>班&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;级：</label>
        <select class="width220" ng-model="bjNum" ng-options="m.val as m.name for m in bj"></select>
    </div>

    <div class="left mr15">
        <label>授课编号：</label>
        <select class="width220" ng-model="skbhNum" ng-options="m.val as m.name for m in skbh"></select>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left">
        <label>授课时间：</label>
        <input type="date" placeholder="请选择开始时间" class="width150" ng-model="bDate"/>
        <span> 到 </span>
        <input type="date" placeholder="请选择结束时间" class="width150" ng-model="eDate"/>
    </div>

    <div class="left">
        <label>学生姓名：</label>
        <input type="text" placeholder="请输入模版名称" class="width220" ng-model="xsName"/>
    </div>
</div>

<div class="mt10">
    <button class="btnGreen ml65 mr15">查询</button>
    <button class="btnGreen">下载(Excel格式)</button>
</div>

<div class="grayLine"></div>

<div class="mt10 tr">
    <button class="nextBtn">上一页</button>
    <button class="nextBtn">下一页</button>
</div>

<table class="tableBox" border="1">
    <thead>
    <tr>
        <th>授课编号</th>
        <th>学年</th>
        <th>年级</th>
        <th>班级</th>
        <th>班主任</th>
        <th>课程系列</th>
        <th>课程主题</th>
        <th>上课学生人数</th>
        <th>教师对课程评价</th>
        <th>学生对课程评价</th>
        <th>授课时间</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>20160424-01</td>
        <td>2016</td>
        <td>一年级</td>
        <td>二班</td>
        <td>王老师</td>
        <td>消防安全系列</td>
        <td>常见消防器材</td>
        <td>29</td>
        <td>查看统计</td>
        <td>查看统计</td>
        <td>2016-4-24 22:34</td>
    </tr>

    <tr>
        <td>20160424-01</td>
        <td>2016</td>
        <td>一年级</td>
        <td>二班</td>
        <td>王老师</td>
        <td>消防安全系列</td>
        <td>常见消防器材</td>
        <td>29</td>
        <td>查看统计</td>
        <td>查看统计</td>
        <td>2016-4-24 22:34</td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>