<div class="navigation">我的应用 > 教室管理 > {{t_title}}</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品类别：</label>
        <span><input type="radio" value="jf" name="procate" ng-model="proCate" />教辅</span>

        <label>教辅分类：</label>
        <select class="width287" ng-model="jfNum" ng-options="m.code as m.name for m in jfs"></select>
    </div>
    <div class="left">
        <label>适用教室版本号：</label>
        <input type="text" class="width268" ng-model="syjsbbh"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <span style="margin-right: 75px;"></span>
        <span><input type="radio" value="kc" name="procate" ng-model="proCate" />课程</span>
        <label>课程系列：</label>
        <select class="width287" ng-model="kcxlsNum" ng-options="m.code as m.name for m in kcxls"></select>
    </div>
    <div class="left">
        <label class="ml28">当前版本号：</label>
        <input type="text" placeholder="" class="width268" ng-model="ddbbh"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品编号：</label>
        <input type="text" placeholder="" class="width388" ng-model="spbh"/>
    </div>
    <div class="left">
        <label class="ml40">商品名称：</label>
        <input type="text" placeholder="" class="width268" ng-model="ssmc"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15 lh32">
        <label>商品状态：</label>
        <span><input type="radio" name="prostatus" value="down" ng-model="proStatus" /><span>下架</span></span>
        <span><input type="radio" name="prostatus" value="up" ng-model="proStatus" /><span>上架</span></span>
    </div>
    <div class="left">
        <label class="ml24">库存：</label>
        <input type="text" placeholder="" class="width220" ng-model="spkc"/>个
    </div>
</div>

<div class="searchRow clearfix height100">
    <div class="left mr15">
        <label class="left">商品简介：</label>
        <textarea ng-model="spjj" style="width: 826px;height: 100px;float: left"></textarea>
    </div>
</div>

<div class="searchRow clearfix height100">
    <div class="left mr15">
        <label class="left">商品内容：</label>
        <textarea ng-model="spnr" style="width: 826px;height: 100px;float: left"></textarea>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品缩略图：</label>
        <button class="nextBtn mr15" style="position: relative" id="btn1">
            上传文件
            <input type="file" class="inputFile"/>
        </button>
        <span class="red1" ng-bind="r1"></span>
        <span ng-show="false" ng-bind="file1"></span>
        <span>尺寸100*100, 大小100kb</span>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>课件上传：</label>
        <button class="nextBtn mr15 ml14" style="position: relative" id="btn2">
            上传文件
            <input type="file" class="inputFile"/>
        </button>
        <span class="red1" ng-bind="r2"></span>
        <span ng-show="false" ng-bind="file2"></span>
        <span>要求：flv,swf等</span>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>教师对课程评价问卷ID：</label>
        <input type="text" class="width200" ng-model="tmpId1" />
        <label class="ml12">教师对课程评价问卷名称：</label>
        <input type="text" class="width248" ng-model="tmpName1"/>
        <input type="button" value="选择问卷" class="nextBtn" ng-click="showTmpDialog(1);" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>学生对课程评价问卷ID：</label>
        <input type="text" ng-model="tmpId2" class="width200"/>
        <label class="ml12">教师对课程评价问卷名称：</label>
        <input type="text" class="width248" ng-model="tmpName2"/>
        <input type="button" value="选择问卷" class="nextBtn" ng-click="showTmpDialog(2);" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>其他对课程评价问卷ID：</label>
        <input type="text" ng-model="tmpId3" class="width200"/>
        <label class="ml12">其他对课程评价问卷名称：</label>
        <input type="text" class="width248" ng-model="tmpName3"/>
        <input type="button" value="选择问卷" class="nextBtn" ng-click="showTmpDialog(3);" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label class="ml42">课堂作业问卷ID：</label>
        <input type="text" ng-model="tmpId4" class="width200"/>
        <label class="ml54">课堂作业问卷名称：</label>
        <input type="text" class="width248" ng-model="tmpName4"/>
        <input type="button" value="选择问卷" class="nextBtn" ng-click="showTmpDialog(4);" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label class="ml42">课后作业问卷ID：</label>
        <input type="text" ng-model="tmpId5" class="width200"/>
        <label class="ml54">课后作业问卷名称：</label>
        <input type="text" class="width248" ng-model="tmpName5"/>
        <input type="button" value="选择问卷" class="nextBtn" ng-click="showTmpDialog(5);" />
    </div>
</div>

<div class="mt10">
    <button class="btnGreen" ng-click="previewPro();">预览商品</button>
    <button class="btnGreen" ng-click="savePro();">保存提交</button>
    <button class="btnGreen" ng-click="cancelPro();">取消</button>
</div>

<div class="mask" ng-if="showDialog">
    <div class="mask_container">
        <p class="close_mask" ng-click="closeDialog();">X</p>
            <template-list show-add-btn="{show:false}" show-ck="{show:true}" choose-callback="getChooseTmps"></template-list>
        <button class="btnGreen" ng-click="selectTemplates();">确定</button>
    </div>
</div>