<div class="navigation">我的应用 > 教室管理 > 创建商品</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品类别：</label>
        <span><input type="radio" name="procate" />教辅</span>

        <label>教辅分类：</label>
        <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
    </div>
    <div class="left">
        <label>适用教室版本号：</label>
        <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <span style="margin-right: 75px;"></span>
        <span><input type="radio" name="procate" />课程</span>
        <label>课程系列：</label>
        <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
    </div>
    <div class="left">
        <label>当前版本号：</label>
        <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品编号：</label>
        <input type="text" placeholder="请输入商品编号" class="width287" ng-model="templateName"/>
    </div>
    <div class="left">
        <label>商品名称：</label>
        <input type="text" placeholder="请输入商品名称" class="width287" ng-model="templateName"/>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品状态：</label>
        <span><input type="radio" /><span>下架</span></span>
        <span><input type="radio" /><span>上架</span></span>
    </div>
    <div class="left">
        <label>库存：</label>
        <input type="text" placeholder="" class="width287" ng-model="templateName"/>个
    </div>
</div>

<div class="searchRow clearfix" style="height: 100px;">
    <div class="left mr15">
        <label>商品简介：</label>
        <textarea style="width: 700px;height: 100px;"></textarea>
    </div>
</div>

<div class="searchRow clearfix" style="height: 100px;">
    <div class="left mr15">
        <label>商品内容：</label>
        <textarea style="width: 700px;height: 100px;"></textarea>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>商品缩略图：</label>
        <input type="file" style="border: none;" ng-model="templateName"/>
        <input type="button" value="上传" class="nextBtn" />
        <span>尺寸100*100, 大小100kb</span>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>课件上传：</label>
        <input type="file" style="border: none;" ng-model="templateName"/>
        <input type="button" value="上传" class="nextBtn" />
        <span>要求：flv,swf等</span>
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>教师对课程评价问卷ID：</label>
        <input type="text" ng-model="templateName"/>
        <label>教师对课程评价问卷名称：</label>
        <input type="text" class="width287" ng-model="templateName"/>
        <input type="button" value="选择问卷" class="nextBtn" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>学生对课程评价问卷ID：</label>
        <input type="text" ng-model="templateName"/>
        <label>教师对课程评价问卷名称：</label>
        <input type="text" class="width287" ng-model="templateName"/>
        <input type="button" value="选择问卷" class="nextBtn" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>其他对课程评价问卷ID：</label>
        <input type="text" ng-model="templateName"/>
        <label>其他对课程评价问卷名称：</label>
        <input type="text" class="width287" ng-model="templateName"/>
        <input type="button" value="选择问卷" class="nextBtn" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>课堂作业问卷ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;：</label>
        <input type="text" ng-model="templateName"/>
        <label>课堂作业问卷名称：</label>
        <input type="text" class="width287" ng-model="templateName"/>
        <input type="button" value="选择问卷" class="nextBtn" />
    </div>
</div>

<div class="searchRow clearfix">
    <div class="left mr15">
        <label>课后作业问卷ID：</label>
        <input type="text" ng-model="templateName"/>
        <label>课后作业问卷名称：</label>
        <input type="text" class="width287" ng-model="templateName"/>
        <input type="button" value="选择问卷" class="nextBtn" />
    </div>
</div>

<div class="mt10">
    <button class="btnGreen" ng-click="templateListSearch();">预览商品</button>
    <button class="btnGreen" ng-click="createTemplate();">保存提交</button>
    <button class="btnGreen" ng-click="createTemplate();">取消</button>
</div>