<div class="navigation">我的应用 > 人员管理 > 教室注册</div>


<div style="margin-right: 230px;" class="clearfix">
    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>租户号&nbsp;&nbsp;&nbsp;：</label>
            <input type="text" class="width200" ng-model="gh"/>
        </div>

        <div class="left mr15">
            <label>学校编号：</label>
            <input type="text" class="width200" ng-model="cym"/>
        </div>

        <div class="left">
            <label>学校名称：</label>
            <input type="text" class="width200" ng-model="cym"/>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>教室编号：</label>
            <input type="text" class="width200" ng-model="gh"/>
        </div>

        <div class="left mr15">
            <label>教室名称：</label>
            <input type="text" class="width200" ng-model="cym"/>
        </div>

        <div class="left">
            <label>教室地址：</label>
            <input type="text" class="width200" ng-model="cym"/>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <div class="searchRow">
                <label>授权账号：</label>
                <input type="text" class="width200" ng-model="gh"/>
            </div>
            <div class="searchRow">
                <label>授权密码：</label>
                <input type="text" class="width200" ng-model="gh"/>
            </div>
            <div class="searchRow">
                <label>有效状态：</label>
                <span><input type="radio">有效</span>
                <span><input type="radio">无效</span>
            </div>
            <div>
                <label>教室版本号：</label>
                <input type="text" class="width200" ng-model="gh"/>
            </div>
        </div>
        <div class="left">
            <label>备注说明：</label>
            <textarea style="width: 510px;height: 147px;"></textarea>
        </div>
    </div>
</div>

<div class="mt10">
    <button class="btnGreen" ng-click="createTemplate();">保存提交</button>
</div>