
<div class="navigation">我的应用 > 教室管理 > 课程授权</div>

<div class="classRoomBigContainer">选择课程</div>
<div style="border: 1px solid black;margin-bottom: 20px;">
    <div class="searchRow clearfix">
        <div class="left mr15">
            <!--<label>商品类别：</label>-->
            <!--<span><input type="radio" name="procate" />课程</span>-->
            <label>课程系列：</label>
            <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
        </div>
        <div class="left">
            <label>适用教室版本号：</label>
            <select class="width200" ng-model="selectType" ng-options="m.val as m.name for m in templateTypes"></select>
        </div>
        <div class="left">
            <button class="btnGreen ml65" ng-click="templateListSearch();">查询</button>
        </div>
    </div>

    <table class="tableBox" border="1">
        <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>商品类别</th>
            <th>课程系列</th>
            <th>课程名称</th>
            <th>通用教室版本号</th>
            <th>当前版本号</th>
            <th>价格</th>
            <th>创建时间</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>课程</td>
            <td>消防安全系列</td>
            <td>常见消防器材</td>
            <td>1.0以上</td>
            <td>2</td>
            <td>8000</td>
            <td>2016-06-14</td>
        </tr>
        </tbody>
    </table>

    <div class="clearfix">
        <div class="pagingContainer">
            <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
        </div>
    </div>

</div>


<div class="classRoomBigContainer">选择教室</div>
<div style="border: 1px solid black;margin-bottom: 20px;">

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>学校名称：</label>
            <input type="text" placeholder="请输入学校名称" class="width287" ng-model="templateName"/>
        </div>
        <div class="left">
            <label>教室建设时间：</label>
            <input type="date" placeholder="请选择开始时间" class="width150" ng-model="beginDate"/>
            <span> 到 </span>
            <input type="date" placeholder="请选择结束时间" class="width150" ng-model="endDate"/>
        </div>

        <div class="left">
            <button class="btnGreen ml65" ng-click="templateListSearch();">查询</button>
        </div>
    </div>

    <table class="tableBox" border="1">
        <thead>
        <tr>
            <td><input type="checkbox" /></td>
            <th>学校名称</th>
            <th>教室名称</th>
            <th>教室地址</th>
            <th>教室授权账号</th>
            <th>创建时间</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td><input type="checkbox" /></td>
            <td>二小</td>
            <td>安全教室</td>
            <td>西二旗软件园二期</td>
            <td>JS1991</td>
            <td>2016-06-14</td>
        </tr>
        </tbody>
    </table>

    <div class="clearfix">
        <div class="pagingContainer">
            <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
        </div>
    </div>
</div>

<div class="classRoomBigContainer">授权</div>
<div style="border: 1px solid black;">
    <div class="searchRow clearfix" style="height: 35px;">
        <div class="left">
            <label>授权日期：从</label>
            <input type="date" placeholder="请选择开始时间" class="width150" ng-model="beginDate"/>
            <span> 到 </span>
            <input type="date" placeholder="请选择结束时间" class="width150" ng-model="endDate"/>
        </div>

        <div class="left">
            <button class="btnGreen ml65" ng-click="templateListSearch();">提交授权</button>
        </div>
    </div>
</div>
