<div class="loginBg">
    <div class="loginLogo">安全教育平台</div>

    <div class="loginBox">
        <div class="loginUser clearfix">
            <img src="resource/images/userIcon.jpg"/>
            <input type="text" class="loginInput" placeholder="请输入用户名" ng-model="name"/>
        </div>

        <div class="loginPassword clearfix">
            <img src="resource/images/password.jpg"/>
            <input type="password" class="loginInput" placeholder="请输入密码" ng-model="pwd"/>
        </div>

        <div class="loginBtn" ng-click="login();">登 录</div>

        <p class="loginError" ng-show="error">{{errorMsg}}</p>
    </div>
</div>
