.pagingBtn{
    background-color: #0085D7;
    width: 60px;
    height: 26px;
    line-height: 26px;
    text-align: center;
    font-size: 12px;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    -webkit-border-radius: 3px;
}

.pagingBtn:hover{
    background-color: #369fe0;
}

.pagingPageNum{
    padding: 0 5px;
    color: #e41a1a;
}