<div class="navigation">我的应用 > 基本信息 > 班级管理</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>所属学校：</label>
        <input type="text" class="width200"/>
    </div>
</div>

<div class="searchRow clearfix">

    <div class="left mr15">
        <label>学年：</label>
        <select class="width140" ng-model="njNum" ng-options="m.code as m.name for m in njs"></select>
    </div>

    <div class="left">
        <label>年级：</label>
        <select class="width140" ng-model="njNum" ng-options="m.code as m.name for m in njs"></select>
    </div>

    <div class="left">
        <label>班级：</label>
        <select class="width140" ng-model="bjNum" ng-options="m.code as m.name for m in bjs"></select>
    </div>
</div>

<div class="mt10">
    <button class="btnGreen ml65" ng-click="seachBj();">查询</button>
</div>

<div class="classDown">
    <div class="mb">下载模板：<input type="text" class="downModuleInput"/></div>
    <div>
        上传数据：<input type="text" class="width200"/>
        <input type="file" id="fileLoad">
        <!--<button class="btnGreen ml65">选择文件</button>-->
        <button class="btnGreen ml65" ng-click="uploadFile();">批量导入</button>
    </div>
</div>

<div class="grayLine"></div>

<!--<div class="mt10 tr">-->
<!--<button class="nextBtn">上一页</button>-->
<!--<button class="nextBtn">下一页</button>-->
<!--</div>-->

<table class="tableBox" border="1">
    <thead>
    <tr>
        <th>编号</th>
        <th>学年</th>
        <th>年级编号</th>
        <th>班级编号</th>
        <th>班级名称</th>
        <th>班主任编号</th>
        <th>班主任姓名</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in bjList">
        <td>{{item.studentId}}</td>
        <td>{{item.name}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{item.createTime}}</td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>


