<div class="navigation">我的应用 > 人员管理 > 人员录入</div>

<div id="dragEl" draggable="true" style="border: 1px solid #e0e0e0;height: 310px;width: 220px;line-height: 310px;float: right;margin-top: 10px;text-align: center">
    <input type="file" id="fileLoad" />
</div>

<div style="margin-right: 230px;">
    <div class="searchRow clearfix">
        <div class="left mr15 ml24">
            <label>工号：</label>
            <input type="text" placeholder="请输入工号" class="width200" ng-model="gh"/>
        </div>

        <div class="left" style="margin-left: 12px;">
            <label>曾用名：</label>
            <input type="text" placeholder="请输曾用名" class="width200" ng-model="cym"/>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15 ml24">
            <label>姓名：</label>
            <input type="text" placeholder="请输入姓名" class="width200" ng-model="xm"/>
        </div>

        <div class="left">
            <label>英文姓名：</label>
            <input type="text" placeholder="请输入英文名字" class="width200" ng-model="ywxm"/>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>姓名拼音：</label>
            <input type="text" placeholder="请输入姓名拼音" class="width200" ng-model="xmpy"/>
        </div>

        <div class="left ml24">
            <label>性别：</label>
            <select class="width220" ng-model="sex" ng-options="m.code as m.name for m in useSex"></select>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>出生日期：</label>
            <input type="date" class="width200" ng-model="csrq"/>
        </div>

        <div class="left ml24">
            <label>籍贯：</label>
            <select class="width220" ng-model="placeNum" ng-options="m.code as m.name for m in place"></select>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15 ml24">
            <label>国籍：</label>
            <select class="width220" ng-model="nationalityNum" ng-options="m.code as m.name for m in nationality"></select>
        </div>

        <div class="left ml24">
            <label>民族：</label>
            <select class="width220" ng-model="nationNum" ng-options="m.code as m.name for m in nation"></select>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left">
            <label>出生地点：</label>
            <select class="width152" ng-model="provincesNum" ng-change="selectProvinces();" ng-options="m.code as m.name for m in provinces"></select>
            <span> 省 </span>
            <select class="width152" ng-model="citysNum" ng-change="selectCitys();" ng-options="m.code as m.name for m in citys"></select>
            <span> 市 </span>
            <select class="width152" ng-model="downsNum" ng-options="m.code as m.name for m in downs"></select>
            <span> 区 </span>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>证件类型：</label>
            <select class="width220" ng-model="idTypeNum" ng-options="m.code as m.name for m in idType"></select>
        </div>
        <div class="left mr15">
            <label>证件号码：</label>
            <input type="text" class="width200" placeholder="请输入证件号码" ng-model="zjhm"/>
        </div>
    </div>

    <div class="searchRow clearfix">
        <div class="left mr15">
            <label>婚姻状况：</label>
            <select class="width220" ng-model="maritalStatusNum" ng-options="m.code as m.name for m in maritalStatus"></select>
        </div>

        <div class="left">
            <label>港澳台外：</label>
            <select class="width220" ng-model="macaoNum" ng-options="m.code as m.name for m in macao"></select>
        </div>
    </div>
</div>


<div class="mt10">
    <button class="btnGreen ml65" ng-click="createUser();">保存</button>
    <button class="btnGreen" ng-click="cancelUser();">取消</button>
</div>


