<div class="navigation">我的应用 > 基本信息 > 班级学生所属关系维护</div>
<div class="searchRow clearfix">
    <div class="left mr15">
        <label>所属学校：</label>
        <input type="text" class="width140" ng-model="schoolName"/>
    </div>
    <div class="left">
        <label>学年：</label>
        <!--<select class="width140" ng-model="njNum" ng-options="m.code as m.name for m in njs"></select>-->
        <input type="text" class="width140" ng-model="xnmc"/>
    </div>

    <div class="left">
        <label>年级：</label>
        <input type="text" class="width140" ng-model="njmc"/>
    </div>

    <div class="left">
        <label>班级：</label>
        <input type="text" class="width140" ng-model="bjmc"/>
    </div>

    <div class="left">
        <button class="btnGreen ml65" ng-click="seachBj();">查询</button>
    </div>
</div>

<div class="classDown">
    <div class="mb">下载模板：<a href="/cmsapi/downloadfile/学校及班级信息导入模板.xlsx">模板</a></div>
    <div ng-show="errorXsl" class="mb">错误信息：<a href="/file{{errorUrl}}">查看错误详情</a></div>
    <div>
        上传数据：<input type="text" class="width200"/>
        <input type="file" id="fileLoad">
        <!--<button class="btnGreen ml65">选择文件</button>-->
        <button class="btnGreen ml65" ng-click="uploadFile();">批量导入</button>
    </div>
</div>

<div class="grayLine"></div>

<!--<div class="mt10 tr">-->
<!--<button class="nextBtn">上一页</button>-->
<!--<button class="nextBtn">下一页</button>-->
<!--</div>-->

<table class="tableBox" border="1">
    <thead>
    <tr>
        <th>编号</th>
        <th>姓名</th>
        <th>人员类型</th>
        <th>岗位</th>
        <th>性别</th>
        <th>备注</th>
        <th>创建时间</th>
    </tr>
    </thead>

    <tbody>
    <tr ng-repeat="item in userList">
        <td>{{item.studentId}}</td>
        <td>{{item.name}}</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>{{item.createTime}}</td>
    </tr>
    </tbody>
</table>

<div class="pagingContainer clearfix">
    <paging get-url="getUrl" callback-fn="directiveCallBack"></paging>
</div>


